@charset "UTF-8";

@font-face {
    font-family: g_b;
    src: url(./Gothic_A1/GothicA1-Bold.ttf)
}

@font-face {
    font-family: g_black;
    src: url(./Gothic_A1/GothicA1-Black.ttf)
}

@font-face {
    font-family: g_r;
    src: url(./Gothic_A1/GothicA1-Regular.ttf)
}
@font-face {
    font-family: g_m;
    src: url(./Gothic_A1/GothicA1-Medium.ttf)
}

:root {
    --point1: #F24C00;
    --point2: #FC7A1E;
    --sub: #F7B788;
    --bgcolor: #F3F3F3;
    --color1: #EBEBEB;
    --color2: #D9D9D9;
    --pointFont: #010E47;
    --mainFont: #5E6276;
}