:root {
    --point1: #F24C00;
    --point2: #FC7A1E;
    --sub: #F7B788;
    --bgcolor: #F3F3F3;
    --color1: #EBEBEB;
    --color2: #D9D9D9;
    --pointFont: #010E47;
    --mainFont: #5E6276;
    --monocolor: #FFF8F5;
    --monocolor2: #EDE4E1;
}

body>* {
    color: var(--mainfont);
}

header {
    background-color: var(--maincolor);
}

header a {
    text-decoration: none;
    color: var(--pointfont);
}

.header-top {
    display: flex;
}

.header-top>.logo {
    width: 20%;
    color: var(--point1);
}

.header-top>.search {
    width: 60%;
}

.search input {
    border: none;
}

.header-top>.text-end {
    width: 20%;
}

header .header-top {
    background-color: #fff;
}